.section {
  margin-top: 100px;
  padding: 15px;
}
.section_title {
  font-size: 10px;
  color: #999999;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 15px;
  font-weight: 500;
}
.section_subtitle {
  font-size: 18px;
  color: black;
  font-family: "Playfair Display";
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 45px;
  line-height: 1.8;
}
.skill {
  margin-top: 20px;
}
.skill p {
  margin-bottom: 20px;
}
.skill_bg_box {
  background-color: #f2f3f7;
  border-radius: 8px;
}
.skill_percent_box {
  height: 6px;
  background-color: #2c98f0;
  width: 80%;
  border-radius: 6px;
  background-color: #2c98f0;
  position: relative;
}
.skill_percent_box > span {
  position: absolute;
  top: -22px;
  right: 0;
  font-size: 12px;
  font-family: 600px;
  line-height: 1.2;
}
