#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: flex-start;
  padding: 0 30px;
  background-color: #efe7ef;
  background-image: url("/images/photo.jpg");
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
}

#hero > h1 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.3;
  font-family: "Playfair Display", serif;
  margin-bottom: 20px;
}

#hero > p {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 30px;
}

#hero > button {
  width: 300px;
  border: 1px solid #000;
  border-radius: 2px;
  padding: 10px 15px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

#hero > button > i {
  font-size: 20px;
}

#hero > button > span {
  font-weight: normal;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
