.sidebar_hamburger {
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px 15px;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  transition-duration: 500ms;
  z-index: 50;
  font-size: 24px;
}

.sidebar_hamburger_translate {
  transform: translateX(250px);
  transition-duration: 500ms;
}

.sidebar_content {
  width: 250px;
  height: 100vh;
  background: #f2f3f7;
  position: fixed;
  top: 0;
  left: 0; /* initially 0 for dev*/
  overflow-y: scroll;
  transition-duration: 500ms;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 50;
  transform: translateX(-300px);
}

.sidebar_hamburger_translate + .sidebar_content {
  transform: translateX(0px);
}

.sidebar_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar_list > li {
  margin-bottom: 20px;
}
