.all-skills {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skill {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.slider_box {
  background-color: #f2f3f7;
  border-radius: 100px;
  height: 6px;
}
.percent {
  height: 100%;
  width: 80%;
  border-radius: 8px;
  position: relative;
}

.percent > span {
  position: absolute;
  top: -20px;
  left: 80%;
  color: inherit;
}
